<a href="https://colab.research.google.com/github/OwenKDTS/Owen_DTSC3020_Fall2025/blob/main/Assignment_2_Fall2025_OwenK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_fruits = ["pear", "grape", "orange"]
print(my_fruits[0])
print(my_fruits[1])
print(my_fruits[2])

apple
banana
cherry

In [6]:
names = ["alex", "owen", "dave", "mike"]
names[0] = "diana"
print(names)

['diana', 'owen', 'dave', 'mike']

In [17]:
vehicles = ["car", "bus", "bike", "truck", "train"]
vehicles.append("motorcycle")
print(vehicles)

['car', 'bus', 'bike', 'truck', 'train', 'motorcycle']

In [10]:
cities = ["Denton", "Dallas", "Austin", "Coppell"]
cities.sort()
cities.reverse()
print(cities)

['Denton', 'Dallas', 'Coppell', 'Austin']

In [11]:
animals = ["dog", "cat", "rabbit"]
for animal in animals:
  print(animal)

dog
cat
rabbit

In [14]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [13]:
friends = ["Jacob", "Audra", "Gratia", "David", "Noelle", "Mara"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['Jacob', 'Audra', 'Gratia']
Last three friends: ['David', 'Noelle', 'Mara']

In [15]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
squares = [number**2 for number in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]